<form action="/addpost" method="post">
	<p>Titulo: </p>
	<input type="text" name="title">
	<p>Conteúdo: </p>
	<textarea name="content"></textarea>
	<button type="submit">Cadastrar postagem</button>
</form>